/* ================ Reset ================ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* ================ root variabale ================ */
:root {
  --color-primary: #ff5722;
  --color-primary-light: #ff7a50;
  --color-scondary-light: #fff6f2;
  --color-scondary-dark: #ffa589;
  --color-navbar: #f8f8f8;
  --color-headings: #000;
  --color-body: #333333;
  --color-wight: #fff;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.7;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.block {
  padding: 6rem 2rem;
}

/* ================ buttons ================ */
.btn {
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 2rem 2.5rem;
  border-radius: 8px;
  margin: 1rem 0;
  font-size: 1.4rem;
  white-space: nowrap;
  text-align: center;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-wight);
}

.btn--secondary {
  background-color: var(--color-scondary-dark);
  color: var(--color-wight);
}

.btn-block {
  width: 100%;
  font-size: 1.6rem;
}

/* ================ badge ================ */
.badge {
  border-radius: 32px;
  padding: 0.5rem 1.3rem;
  font-size: 1.2rem;
  margin: 1rem 0;
  white-space: nowrap;
  font-weight: 700;
  display: inline-block;
  background-color: var(--color-wight);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  text-transform: uppercase;
  text-align: center;
}

.badge--primary {
  background-color: var(--color-primary);
  color: var(--color-wight);
}

/* ================ lists ================ */
.list {
  list-style: none;
  font-size: 1.6rem;
}

.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}

.list--tick {
  margin-bottom: 10.5rem;
}

.list--tick .list__item {
  background: url(/assets/images/icons8-tick-16.png) no-repeat right center;
  padding-right: 3rem;
  margin-bottom: 1.5rem;
}

/* ================ plans ================ */
.block-plan {
  display: grid;
  gap: 5rem 6rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
  justify-content: center;
}

.plan {
  font-size: 1.8rem;
  transition: all 0.2s ease-in;
}

.plan:hover {
  transform: scale(1.05);
}

.card {
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px #e2e2e2;
  background-color: #ccc;
}

.card--primary .card__header {
  background-color: var(--color-primary-light);
}

.card__header,
.card__body {
  padding: 3rem 2.5rem;
}

.card__header {
  background-color: var(--color-scondary-dark);
  color: var(--color-wight);
}

.plan__introduction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.plan__price {
  font-size: 3rem;
  font-weight: 700;
}

.plan__billing-cycle {
  font-size: 1.4rem;
}

.plan__discription {
  display: block;
  margin-top: 1.5rem;
}

.card__body {
  background-color: var(--color-scondary-light);
}

.plan .btn-block {
  font-size: 1.6rem;
}

.top--plan {
  position: relative;
  top: 0px;
}

.block__heading {
  padding-top: 5rem !important;
}

.block__heading.block {
  padding: 0 2rem;
}

/* ================ container ================ */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* ================ featuer ================ */
.featuer {
  display: grid;
  gap: 8rem;
}

.featuer__text {
  margin-bottom: 1.5rem;
}

.featuer .btn {
  padding: 1.2rem 3rem;
}

.featuer__image > img {
  width: 100%;
  height: auto;
}

.featuer__image {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

/* ================ contact us ================ */
.contact-us__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
}

.contact-us__header > p {
  font-weight: 700;
  width: 30rem;
  text-align: center;
}

.contact-us__main {
  display: flex;
  flex-direction: column;
}

.contact-us {
  display: grid;
  gap: 5rem;
}

.contact-us__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 5rem 0;
  order: 1;
  text-align: center;
}

.contact-us__icons .icon-holder {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.icon-holder__label {
  font-weight: 700;
  margin-left: 1rem;
}

.icon-container {
  width: 34px;
  height: 34px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.icon {
  width: 24px;
  height: 24px;
  color: var(--color-primary);
}

/* ================ contact us map ================ */
.contact-us__map > img {
  width: 100%;
  height: auto;
  display: none;
}

/* ================ contact us social ================ */
.contact-us__social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-us__social .icon-holder {
  margin: 1rem 0;
}

/* ================ contact us form ================ */
.contact-us__form {
  background-color: var(--color-wight);
}

.form__titel {
  text-align: center;
  margin: 4rem 0;
}

.form-wrapper > form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-wrapper > form > input,
textarea {
  margin: 1rem 1.5rem;
  outline: none;
  padding: 2.5rem 2rem;
  border: none;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
}

.form-wrapper > form > input {
  border-radius: 40px;
}

.form-wrapper > form > input:focus {
  border: 1px solid var(--color-primary);
}

.form-wrapper > form > textarea {
  border-radius: 16px;
  border: 1px solid #f5f5f5;
}

.form-wrapper > form > textarea:focus {
  border: 1px solid var(--color-primary);
}

::placeholder {
  color: #333333;
  font-family: "IRANYekan";
}

.form-wrapper form span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 2rem 1.5rem;
}

.form-btn {
  padding: 1.2rem 3rem;
}

/* ================ footer ================ */
.main-fopter {
  background-color: #000;
  color: #fff;
  min-height: 200px;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-fopter .footer {
  display: flex;
  flex-direction: column;
}

.footer__item {
  margin-bottom: 2.5rem;
  max-width: 200px;
}

.footer__item .footer__logo img {
  width: 12rem;
  margin-bottom: 1.5rem;
}

.footer__item > a {
  text-decoration: none;
  color: var(--color-wight);
  display: flex;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.footer__item > a:hover {
  color: var(--color-primary);
  transition: all 0.2s ease-in;
}

.footer__item > h6 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer__item.enemad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
}

.footer__enemad {
  background-color: var(--color-wight);
  border-radius: 10px;
  padding: 1rem 0.5rem;
  max-width: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__enemad > img {
  width: 100%;
  height: auto;
}

.footer__social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 3rem;
  width: 200px;
}

.footer__social ul > li:hover {
  color: var(--color-primary);
}

/* ================ header ================ */
.main-header {
  background-color: var(--color-navbar);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}

.nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.nav.nav__expanded .nav__list {
  max-height: 100vh;
  opacity: 1;
}

.nav__item {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}

.nav__item > a {
  text-decoration: none;
  color: #444;
  display: block;
}

.nav__item .btn {
  font-size: 1.4rem;
  color: var(--color-wight);
  padding: 1.2rem;
}

.nav__item.cta {
  border: 0;
}

/* ================ toggler ================ */
.nav__toggler {
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}

.nav.nav__expanded .bar1 {
  transform: rotate(-45deg) translate(-3px, 4px);
}

.nav.nav__expanded .bar2 {
  opacity: 0;
}

.nav.nav__expanded .bar3 {
  transform: rotate(45deg) translate(-7px, -8px);
}

/* ================ hero section ================ */
.hero-section {
  width: 100%;
  height: 478px;
  position: relative;
}

.hero-section img {
  width: 100%;
  height: 478px;
  object-fit: cover;
}

.hero-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 478px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-btn {
  top: 0;
  border-radius: 20px;
  background-image: linear-gradient(
    51deg,
    rgba(23, 26, 60, 0.7) 5%,
    rgba(23, 26, 60, 0.3) 95%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
}

.intro-btn h1 {
  color: var(--color-wight);
  font-size: 2.5rem;
}

.intro-btn h2 {
  color: var(--color-wight);
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.intro-btn__passenger {
  background-color: #fff;
  border-radius: 12px;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid var(--color-wight);
}

.intro-btn__passenger:nth-child(3),
.intro-btn__passenger:nth-child(4) {
  background-color: transparent;
  color: var(--color-wight);
}

.intro-btn__passenger p {
  font-size: 1.4rem;
}

.intro-btn__passenger .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  color: var(--color-body);
}

.intro-btn__passenger:nth-child(3) .icon i,
.intro-btn__passenger:nth-child(4) .icon i {
  color: var(--color-wight);
}

.banner-phone {
  display: none;
  position: absolute;
  left: 10%;
  bottom: -20%;
  height: auto;
  width: 420px !important;
}

/* ================ services ================ */
.services__titile {
  margin-bottom: 2.5rem;
}

.services__tabs {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.services__tabs .tab {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #444;
  max-width: 100px;
}

.services__tabs .tab > p {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.services__tabs img {
  max-width: 85px;
  opacity: 0.5;
  transition: all 0.2s ease-in;
}

.services__tabs img:hover {
  opacity: 1;
}

.services .featuer__image {
  display: none;
}

.services .featuer__title {
  margin: 2.5rem 0 1rem 0;
}

.tab-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}

.tab-content .featuer__ditail {
  width: 100%;
}

.tab-content.active {
  display: flex;
}

.tab.active img {
  opacity: 1;
}

/* ================ travell ================ */
.travell__slides {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  gap: 2rem;
}

.travell__slide {
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travell__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}

.slide__img {
  width: 100%;
  height: 200px;
}

.slide__detail {
  border-radius: 32px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 1rem 1.7rem;
  width: 85%;
  transform: translateY(-60px);
}

.slide__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slide__header .badge {
  padding: 0.1rem 1.3rem;
  font-size: 1.2rem;
}

.slide__header p {
  font-size: 1.2rem;
  margin-right: 0.7rem;
}

.slide__detail .slide__title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 1rem;
}

.slide__detail .slide__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c4c4c4;
  margin-top: 1rem;
}

/* ================ according ================ */
.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.accordion__heading {
  margin-bottom: 0;
}

.accordion__content {
  font-size: 1.4rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.accordion__expanded .accordion__content {
  max-height: 100vh;
  opacity: 1;
  padding: 1rem 4rem;
}

.accordion__header i {
  transition: all 0.2s ease-in;
}

.accordion__expanded .accordion__header i {
  transform: rotate(90deg);
}

.accordion-wrapper {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #ececec;
  box-shadow: 0 9px 12px rgba(0, 0, 0, 0.05);
}

.accordion__intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  border-bottom: 2px solid #ececec;
}

.accordion__intro .accordion__heading {
  font-size: 2.5rem;
}

.accordion__intro span {
  color: var(--color-primary);
}

.accordion__intro__wrapper {
  padding: 1rem 0;
}

/* ================ avatar ================ */
.avatar-group {
  display: flex;
  align-items: center;
}

.avatar-group .avatar,
.hidden-avatars {
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 100%;
  background-color: var(--color-primary-light);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in;
}

.avatar:hover:not(:last-child) {
  transform: translateX(8px);
}

.avatar-group .avatar img {
  width: 100%;
  height: 100%;
}

.avatar__seggest {
  margin-right: 2.7rem;
  font-size: 1.2rem;
  color: var(--color-primary-light);
}

/* ================ radio type ================ */
.select-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.select-control input[type="radio"] {
  display: none;
}

.select-control {
  text-align: center;
  width: 100%;
  position: relative;
}

.select-control label {
  color: #444;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 2px solid #ccc;
  border-radius: 32px;
  width: 100%;
  display: block;
  cursor: pointer;
}

.select-control label::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 2px solid #fff;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: 2px solid #ccc;
}

.select-control input[type="radio"]:checked + label {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.select-control input[type="radio"]:checked + label::before {
  background-color: var(--color-primary);
  box-shadow: 0 0 0 2px var(--color-primary);
  border: 2px solid #fff;
}

/* ================ media queries ================ */
@media screen and (min-width: 1024px) {
  /* =========global========= */
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  /* =========bottom========= */
  .btn {
    font-size: 1.6rem;
  }

  .btn-block {
    font-size: 2rem;
  }

  /* =========badge========= */
  .badge {
    font-size: 1.4rem;
  }

  /* =========lists========= */
  .list--tick .list__item {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  /* =========plans========= */
  .block-plan :nth-child(2) {
    top: -30px;
  }

  .plan .btn-block {
    font-size: 1.8rem;
  }

  .block__heading {
    font-size: 3.5rem;
  }

  /* =========featuer========= */
  .featuer {
    grid-template-columns: repeat(2, 1fr);
  }

  .featuer__ditail {
    order: 1;
  }

  .featuer__image {
    order: 2;
    margin-bottom: 0;
  }

  .featuer__image > img {
    width: 100%;
  }

  .featuer-main .featuer:last-child .featuer__image {
    order: 1;
  }

  /* =========contact us========= */
  .contact-us {
    grid-template-columns: 60fr 40fr;
  }

  .contact-us__icons {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    order: 1;
  }

  .contact-us__icons .icon-holder {
    flex-direction: column-reverse;
    width: 33%;
  }

  .icon-holder__label {
    margin-top: 1rem;
    font-size: 1.4rem;
  }

  /* =========contact us social========= */
  .contact-us__social {
    justify-content: flex-end;
    order: 3;
  }

  .contact-us__social .icon-holder {
    margin-right: 2rem;
  }

  /* =========contact us map========= */
  .contact-us__map {
    order: 2;
    margin-bottom: 5rem;
  }
  .contact-us__map > img {
    display: block;
  }

  /* =========services========= */
  .services__tabs .tab > p {
    font-size: 1.4rem;
    margin: 1.5rem 0;
  }

  .services__tabs img {
    max-width: 100%;
  }

  .services__titile {
    margin-right: 0;
  }

  .tab-content .featuer__ditail {
    width: 50%;
  }

  .services .featuer__image {
    display: flex;
    max-width: 500px;
  }
}

@media screen and (min-width: 768px) {
  /* =========footer========= */
  .main-fopter .footer {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer__item {
    margin-bottom: 0;
    margin-left: 2rem;
  }

  .footer__social {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .footer__social ul {
    margin: 3rem 0;
    justify-content: flex-start;
    gap: 2.5rem;
  }

  /* =========header========= */
  .nav__toggler {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    width: auto;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.6rem;
    opacity: 1;
    max-height: 100%;
  }

  .nav__item {
    border-bottom: 0;
  }

  /* =========hero section========= */
  .hero-wrapper {
    justify-content: flex-start;
    padding-right: 10%;
  }

  .intro-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .intro-btn {
    width: 530px;
    align-items: flex-start;
  }

  .intro-btn__passenger {
    font-size: 1.6rem;
    width: 250px;
    padding: 2rem 3rem;
    font-weight: 700;
  }

  .intro-btn h1 {
    font-size: 5rem;
  }

  .intro-btn h2 {
    font-size: 2.5rem;
  }

  .banner-phone {
    display: block;
  }

  /* =========travell========= */
  .travell__slides::-webkit-scrollbar {
    width: 1.2rem;
    height: 1.2rem;
  }

  .travell__slides::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  }
}
