<section class="hero-section">
    <picture>
      <source
        srcset="/assets/images/banner/banner.jpg"
        type="image/jpg"
        media="(min-width: 768px)"
      />
      <source
        srcset="/assets/images/banner/banner-mobile.jpg"
        type="image/jpg"
        media="(max-width: 768px)"
      />
      <img
        alt="banner"
        src="/assets/images/banner/banner.jpg"
        class="banner-img"
      />
    </picture>
    <div class="hero-wrapper container">
      <div class="intro-btn">
        <h1>تپسی</h1>
        <h2>اپلیکیشن درخواست خودرو</h2>
        <div class="intro-wrapper">
          <div class="intro-btn__passenger">
            <span class="icon">
              <i class="fa-solid fa-arrow-down fa-lg"></i>
            </span>
            <p>دانلود اپلیکیشن مسافران</p>
          </div>
          <div class="intro-btn__passenger">
            <span class="icon">
              <i class="fa-brands fa-webflow fa-lg"></i>
            </span>
            <p>وب اپلیکیشن مسافران</p>
          </div>
          <div class="intro-btn__passenger">
            <span class="icon">
              <i class="fa-solid fa-arrow-down fa-lg"></i>
            </span>
            <p>دانلود اپلیکیشن رانندگان</p>
          </div>
          <div class="intro-btn__passenger">
            <span class="icon">
              <i class="fa-solid fa-car fa-lg"></i>
            </span>
            <p>ثبت نام راننده</p>
          </div>
        </div>
      </div>
    </div>
  </section>